<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee;http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd" id="WebApp_ID" version="4.0">
  <servlet>
		<servlet-name>inscrire</servlet-name>
		<servlet-class>com.meriem.Controllers.ClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inscrire</servlet-name>
		<url-pattern>/inscrire</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>identifier</servlet-name>
		<servlet-class>com.meriem.Controllers.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>identifier</servlet-name>
		<url-pattern>/identifier</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>catalogue</servlet-name>
		<servlet-class>com.meriem.Controllers.ArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>catalogue</servlet-name>
		<url-pattern>/catalogue</url-pattern>
	</servlet-mapping>
</web-app>